HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

doc/.$DataBaseDiagram.drawio.bkp
doc/.$*
doc/.$DataBaseDiagram.drawio
doc/.$DataBaseDiagram.drawio.svg

# Excluye archivos .env
.env
.env.local
config/env.properties

# Excluye archivos de configuración de Docker
docker-compose.override.yml
db